

/* second project 
#display{
    display: block;
    text-align: center;
    font-size: 100px;
}

.button-container{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    color: #fff;
    background-color: hsl(223, 80%, 65%);
    font-size: 1.5rem;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}

.buttons:hover{
    background-color: hsl(223, 74%, 37%);
} */

/*Fourth project*/

